In [ ]:
#%% Załadowanie pliku 
load = spark.read.format("com.crealytics.spark.excel")\
.option("header", "true")\
.load("/FileTomek/Tomek/Tomektest.xlsm")

In [ ]:

#%% Odczyt pliku 
display (load)

In [ ]:
#%% Struktura danych 
print (load.schema)

In [ ]:
#%% Zliczenie rekordów:
load.count ()

In [ ]:
#%% Wybór konkretnych kolumn:
load.select ("Nazwa_produktu", "Kategoria_produktu", "Dostawca", "Klient").show()

In [ ]:
#%% Posortowanie malejąco
load.sort ("Liczba_produktów", ascending=False).show()

In [ ]:
#%% Sortowanie + konkretne kolumny
load.select (load["Nazwa_Produktu"], load["Kat_Produktu"], load ["Liczba_Sprzedazy"] * 100).sort ("Liczba_Sprzedazy ", ascending=False).show()

In [ ]:
#%% Filtrowanie
load.where (load ["Liczba_Produktow_Kupionych"] >500).show()

In [ ]:
#%% Filtrowanie2
load.where (load ["Liczba_Produktów"] >500).select("Dostawca", "Liczba_Produktów", "Data_Zakupu").show()

In [ ]:
#%% Like
load.where (load ["Kat_Produktu"].like("%Sł%")).select("Kat_Produktu ", "Dostawca", "Nazwa_Produktu", "Data_Sprzedaży").show()

In [ ]:
#%% Nowa kolumna
from pyspark.sql import functions as F
df_new = load.where (load ["Kat_Produktu"].like("%Sł%")).select("Kat_Produktu ", "Dostawca", "Nazwa_Produktu", "Data_Sprzedaży"). withColumn ("TestTomek", F.lit(100)).show()

In [ ]:
#%% Nowa kolumna
from pyspark.sql import functions as F
load_new = load.select (load["Nazwa_Produktu"], load["Kategoria"], load ["Liczba_Produktow"], load ["Dostawca"]).sort ("Liczba_Produktow", ascending=False).withColumn ("Liczba Produktów powiększona dwukrotnie", load ["Liczba_Produktow"]*2)
load_new.show()

In [ ]:
#%% 
display (load_new)

In [ ]:
#%% pogrupowanie
load.groupby("Nazwa_Produktu").count().show()

In [ ]:
#%% Stworzenie widoku
newTable = spark.sql ("select * from hurtownia_danych_testowa")
new_view = newTable.createOrReplaceTempView ('TestowyWidok'

In [ ]:
#%% Wyświetlenie
TestowyWidok = spark.sql("select * from TestowyWidok")

In [ ]:
#%% SQL
%sql 
select * from TestowyWidok

In [ ]:
#%% Stworzenie tabel – tab1
df1 = [("Kawa", 9.99), ("Herbata", 4.99), ("Sok pomarańczowy", 5.00)]
tableOne = spark.createDataFrame

In [ ]:
#%% Stworzenie tabel – tab2

df2 = [("Snickers", 2.99), ("ColeZero", 3.99), ("Mars", 1.99)]
tableTwo = spark.createDataFrame (df2, ['Produkty', 'Cena'])
tableTwo.show()

In [ ]:
#%% Aliasy
t1 = tableOne.alias ('t1')
t2 = tableTwo.alias ('t2')

In [ ]:
#%%INNER JOIN
df1 = [("Kawa", 1), ("Herbata", 2), ("Sok pomarańczowy", 3)]
tableOne = spark.createDataFrame (df1, ['Produkty', 'id'])
tableOne.show()

df2 = [("Snickers", 4), ("Mars", 1), ("Twix", 3)]
tableTwo = spark.createDataFrame (df2, ['Batony', 'id'])
tableTwo.show() 
                                     
t1 = tableOne.alias ('t1')
t2 = tableTwo.alias ('t2')

inner_join = t1.join (t2, t1.id == t2.id)
inner_join.show()

In [ ]:
#%WIELE FILTRÓW:
load = spark.read.format("com.crealytics.spark.excel")\
.option("header", "true")\
.load("/TomaszKatalog/Produkty/Produkty_wyniki.xlsm")

load.filter (load['Kategoria_Produktow'] == 'Słodycze').filter (load['Cena'] > '600').display()